.obstacle {
    position: absolute;
    width: var(--w);
    height: var(--h);
    bottom: 0;
  
    bottom: 100svh;
    background: 
        linear-gradient(#ff0000 33%, transparent 33% 66%, #ff0000 66%),
        linear-gradient(90deg, #ff0000 33%, transparent 33% 66%, #ff0000 66%);
  
    opacity: 0;
  
    transform-origin: center bottom;
    transform:
      rotateX(-90deg);
    translate: 0 0;
    animation: wall 5s linear infinite;
}

@keyframes wall {
    10%, 100% { opacity: 100; }
    100% { translate: 0 var(--l); }
}