
.obstacle {
    /* Initial variables */
    --progress: calc(var(--zPos) * 5lvh);

    /* Basic layout */
    position: absolute;
    width: var(--w);
    height: var(--h);
    bottom: 100lvh;

    /* Segment positioning */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    transform-style: preserve-3d;

    /* Dynamic positioning */
    transform-origin: center bottom;
    transform:
        rotateX(-90deg)
        translateZ(var(--progress));
}

/* Theming */
.obstacle .segment.filled {
    background: var(--tex, red);
    background-size: 100% 100%;
}

/* Segments */
.segment {
    position: relative;
    transform-style: preserve-3d;
}

.segment > .side {
    position: absolute;
    background: var(--tex, blue);
    background-size: 100% 100%;
    transform-style: preserve-3d;
}

.segment > .side.left,
.segment > .side.right {
    width: 1lvh;
    height: 100%;
}
.segment > .side.left {
    left: 0; top: 0;
    rotate: y 90deg;
    transform-origin: left center;
}
.segment > .side.right {
    right: 0; top: 0;
    rotate: y -90deg;
    transform-origin: right center;
}

.segment > .side.top,
.segment > .side.bottom {
    width: 100%;
    height: 1lvh;
}
.segment > .side.top {
    left: 0; top: 0;
    rotate: x -90deg;
    transform-origin: center top;
}
.segment > .side.bottom {
    left: 0; bottom: 0;
    rotate: x 90deg;
    transform-origin: center bottom;
}
