/* Initial variables */
.obstacle {
    --progress: calc(var(--zPos) * 5lvh);
}

/* Basic layout */
.obstacle {
    position: absolute;
    width: var(--w);
    height: var(--h);
    bottom: 100lvh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Dynamic positioning */
.obstacle {
    transform-origin: center bottom;
    transform:
        rotateX(-90deg)
        translateZ(var(--progress));
}

/* Theming */
.obstacle .segment.filled {
    background: red;
}

