
.floor {
    --zPos: 0;
    --tex: red;
    --segment-length: 5lvh;

    --w: 75lvh;
    --h: 100lvh;
    --l: 100lvh;
    
    --progress: calc(var(--zPos) * var(--segment-length));
}

.floor, .left, .right {
    position: absolute;
    height: var(--l);
    transform-style: preserve-3d;
    background: var(--tex) left var(--progress) / 100% 10% repeat-y;
}

.floor {
    width: var(--w);
    left: 50%;
    bottom: 0;
    transform-origin: center bottom;
    
    translate: 0% 0%;
    transform: 
        translateX(-50%)
        rotateX(90deg)
        translateZ(-10px);
}

.left {
    width: var(--h);
    transform-origin: left center;
    transform: rotateY(-90deg);
}

.right {
    right: 0;
    width: var(--h);
    transform-origin: right center;
    transform: rotateY(90deg);
}
