
.floor, .left, .right {
    --w: 100%;
    --h: 50lvh;

    position: absolute;

    height: 150lvh;
    
    transform-style: preserve-3d;
    background: var(--tex) left top / 100% 10% repeat-y;
    animation: move 5s linear infinite;
}

@media screen and (orientation: landscape) {
    .floor, .left, .right {
        --w: 100%;
        --h: 100lvh;

        max-width: 200lvh;
    }
}

.floor {
    width: var(--w);
    bottom: 0;
    transform-origin: center bottom;
    
    translate: 0% 0%;
    transform: 
        rotateX(90deg)
        translateZ(-10px);
}

.left {
    width: var(--h);
    transform-origin: left center;
    transform: rotateY(-90deg);
}

.right {
    right: 0;
    width: var(--h);
    transform-origin: right center;
    transform: rotateY(90deg);
}

.wall {
    position: absolute;
    width: var(--w);
    height: var(--h);
    bottom: 100%;
    background: 
        linear-gradient(#ff0000aa 33%, transparent 33% 66%, #ff0000aa 66%),
        linear-gradient(90deg, #ff0000aa 33%, transparent 33% 66%, #ff0000aa 66%);

    opacity: 0;

    transform-origin: center bottom;
    transform: rotateX(-90deg);
    translate: 0 0lvh;
    animation: wall 5s linear infinite;
}

@keyframes wall {
    10%, 100% { opacity: 100; }
    100% { translate: 0 150lvh; }
}

@keyframes move {
    to { background-position: left 100%; }
}