
.floor, .left, .right {
    position: absolute;

    height: 150lvh;
    
    transform-style: preserve-3d;
    background: var(--tex) left top / 100% 10% repeat-y;
    animation: move 5s linear infinite;
}

.floor {
    width: 100%;
    bottom: 0;
    transform-origin: center bottom;
    
    translate: 0% 0%;
    transform: 
        rotateX(90deg)
        translateZ(-10px);
}

.left {
    width: 50lvh;
    transform-origin: left center;
    transform: rotateY(-90deg);
}

.right {
    right: 0;
    width: 50lvh;
    transform-origin: right center;
    transform: rotateY(90deg);
}

.wall {
    width: 100%;
    height: 50lvh;
    background: 
        linear-gradient(#ff0000aa 33%, transparent 33% 66%, #ff0000aa 66%),
        linear-gradient(90deg, #ff0000aa 33%, transparent 33% 66%, #ff0000aa 66%);

    transform-origin: center bottom;
    transform: rotateX(-90deg);
    translate: 0 0lvh;
    animation: wall 5s linear infinite;
}

@keyframes wall {
    to { translate: 0 150lvh; }
}

@keyframes move {
    to { background-position: left 100%; }
}