
.xwing {
    --y: 0;
    --segment-width: calc(var(--w) / 3.5);
    --segment-height: calc(var(--h) / 3);
    --xOff: calc( (var(--segment-width) * var(--x)) );
    --yOff: calc( (var(--h) / -3) + (var(--segment-height) * var(--y)) ); 
}

.xwing {
    position: absolute;

    left: 50%;
    bottom: 0;
    
    width: 50lvw;
    max-width: 50%;
    aspect-ratio: 2;

    translate: -50% 0%;

    transform-origin: center bottom;
    transform: 
        rotateX(-90deg)
        translate3D(var(--xOff), var(--yOff), 0);

    background: var(--tex) center / contain no-repeat;

    transition: transform 0.5s;
}