
.xwing {
    position: absolute;

    left: 50%;
    top: 80%;
    
    
    width: 50lvh;
    max-width: 75%;
    aspect-ratio: 2;

    translate: -50% 0%;

    background: var(--tex) center / contain no-repeat;
}