
#root {
  position: fixed;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100lvh;
}

.wrapper {
  height: 100lvh;
  max-width: 100lvw;
  aspect-ratio: 1;

  background: url(../stars.png) black;
}