
#root {
  position: fixed;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100lvh;
  bottom: 0;
}

.wrapper {
  height: 100lvh;
  width: 100lvw;

  background: url(../stars.png) black;
}

@supports (-moz-appearance: none) {
    #root { bottom: unset; top: 0; }
}
