
#root {
  position: fixed;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100lvh;
  bottom: 0;
}

.wrapper {
  height: 100lvh;
  max-width: 100lvw;
  width: 1000lvw;

  /* aspect-ratio: 1; */

  background: url(../stars.png) black;
}